*{
    margin: 0;
    padding: 0;
}
body {
   
    /* background-color:#4C4C4C; */
    background-image: url("./bg3.jpg");
    /* border-image:stretch; */
/* padding-left: 100px; */
    background-repeat: no-repeat;
/* background-size: contain; */
    background-size:100% 137%;
    /* background-position-y:80%; */
    /* background-position: 20%; */
    /* margin-left: 100px; */
    

}


nav{
    border-bottom: solid 1px black;
    height: 50px;
    /* background-color:rgb(235, 156, 9); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left{
    font-size: 1.2rem;
    font-family:cursive;
    margin-right: 450px;
    text-align: center;
}
.left a{
    color:#E52928;
    /* color:black; */
    text-decoration: none;

}
nav ul{
    display: flex;
 
}
nav ul li{
    list-style: none;
    margin: 0 18px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    font-size: 1.1rem;
    color:#094866;
   text-decoration:underline double black 2px;
}
/* firstSection */
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 23px 5px;
    align-items: center;
}
.leftSection{
    /* background-color: red; */
    width: 38%;
    font-size: 2.3rem;
}
.rightSection{
    /* background-color: red; */
    width: 30%;
}
img{
    margin-top: 10px;
}
span{
    color: #e31e1e;
}

/* secondSection */
hr{
border-color:#588682;
margin: 0 84px;
}

.mainContain{
    width: 80%;
    background-image: url(bg6.jpg);
    background-size: cover;
    margin-top: 12vh;
    margin-left: 20vh;
    padding-bottom: 10vh;
    /* border: 4px solid black; */
    /* background-color: #41928b; */
   
}
.s-logo{
    margin-top: 15px;
    /* display: flex;
    justify-content:space-evenly ; */
}
.s-logo a{
    margin-left: 20px;
}
.s-logo a:hover{
font-size: 25px;
/* background-color: rgb(0, 0, 0); */
}
.btn{
 /* align-items: center; */
 display: flex;
 /* justify-content: center; */
 /* margin-top: 1px; */
margin-left: 100px;
 margin-bottom: 20px;
}
.btn1{
    background-color:#e31e1e;
    color: white;
    padding: 10px;
    border-radius: 30px;
    /* border: solid 1px black; */
}

/* about-css */
.row{
    display: flex;
    justify-content: space-around;
    margin: 23px 5px;
    align-items: center;
}
.image{
    /* background-color: red; */
    width: 25%;
}
.content{
    /* background-color: rgb(180, 208, 21); */
    width: 50%;
    font-size: 1.3rem;
}
p{
    margin-top: 20px;
}
.resumebtn{
    margin-top: 25px;
    margin-left: 50px;
    /* margin-bottom: 0px; */
}
.resumebtn a{
    background-color:#e31e1e;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
/* contact */
.contact{
    display: flex;
    justify-content: space-around;
/* align-items:first baseline; */
    /* height: 250px;
    margin-top: 30px; */
    /* margin: 23px 50px; */
    margin-top: 10px;

}
.con-left{
    /* background-color: #E52928; */
    width: 25%;
}
.con-right{
    /* background-color: #588682; */
    width: 45%;
}
#msg{
    padding-bottom: 50px;
}
.info{
    /* padding-bottom: 1px; */
    margin: 23px 10px;
    /* align-items: center; */
}
input{
    border: none;
    padding: 5px;
    width: 90%;
    /* padding-right: 200px; */
    margin: 10px;
}
.sendbtn{
    /* margin-top: 10px; */
    /* padding-bottom: 25px; */
    padding-left: 80%;
}
.sendbtn a{
    background-color:#e31e1e;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
h2{
    margin-left: 40%;
}
